force-app/main/default/flows/Fel_Delete_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_EA_to_Collection</name>
        <label>Add EA to Collection</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_EngagementAttendeeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Engagement_Attendees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Selected_Messaging_Sessions</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Case_Records</name>
        <choiceText>Case Records</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Records</stringValue>
        </value>
    </choices>
    <choices>
        <name>Messaging_Sessions</name>
        <choiceText>Messaging Sessions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Messaging Sessions</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Type_of_Record_Object</name>
        <label>Type of Record Object</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>scr_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Object_to_Delete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Messaging_Sessions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_Sessions</targetReference>
            </connector>
            <label>Is Messaging Session</label>
        </rules>
        <rules>
            <name>Is_Case_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Object_to_Delete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_Records</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Records</targetReference>
            </connector>
            <label>Is Case Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fel_ Delete Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fel_ Delete Records</label>
    <loops>
        <name>Loop_through_Selected_Messaging_Sessions</name>
        <label>Loop through Selected Messaging Sessions</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Messaging_DataTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Engagement_Attendees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Engagement_Attendees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Engagement_Attendees</name>
        <label>Delete Engagement Attendees</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Delete_Selected_Messaging_Sessions</targetReference>
        </connector>
        <inputReference>var_EngagementAttendeeCollection</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Selected_Cases</name>
        <label>Delete Selected Cases</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>scr_3</targetReference>
        </connector>
        <inputReference>Cases_DataTable1.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Selected_Messaging_Sessions</name>
        <label>Delete Selected Messaging Sessions</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>scr_3</targetReference>
        </connector>
        <inputReference>Messaging_DataTable.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_scr_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>From_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>To_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Engagement_Attendees</name>
        <label>Get Engagement Attendees</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_EA_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EngagementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Selected_Messaging_Sessions.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EngagementAttendee</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EngagementId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Sessions</name>
        <label>Get Messaging Sessions</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scr_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>From_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>To_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_scr_2</name>
        <label>scr_cases</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Selected_Cases</targetReference>
        </connector>
        <fields>
            <name>dt_3</name>
            <fieldText>&lt;p&gt;We have found these cases:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cases_DataTable1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Case_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>CaseNumber,Subject</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>CaseNumber:165, Subject:545</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_1</name>
        <label>scr_1</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_of_Record_Object</targetReference>
        </connector>
        <fields>
            <name>dt_1</name>
            <fieldText>&lt;p&gt;Tool to Delete Cases or Messaging Sessions&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Record_Object_to_Delete</name>
            <choiceReferences>Messaging_Sessions</choiceReferences>
            <choiceReferences>Case_Records</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Object to Delete</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>From_Date</name>
            <dataType>Date</dataType>
            <fieldText>From Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>To_Date</name>
            <dataType>Date</dataType>
            <fieldText>To Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_2</name>
        <label>scr_Messaging Sessions</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Selected_Messaging_Sessions</targetReference>
        </connector>
        <fields>
            <name>dt_2</name>
            <fieldText>&lt;p&gt;we have found these messaging sessions:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Messaging_DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MessagingSession</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MessagingSession</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSelectedCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,SDO_LiveMessaging_Subject__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:230, SDO_LiveMessaging_Subject__c:545</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Messaging_Sessions</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr_3</name>
        <label>scr_3</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dt_4</name>
            <fieldText>&lt;p&gt;Your {!Record_Object_to_Delete} were succesfully deleted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_EngagementAttendeeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EngagementAttendee</objectType>
    </variables>
</Flow>
